# Files
# -----------------

.npmrc
.eslintrc
.editorconfig
.gitignore

# Travis
# -----------------

.travis.yml

# Rollup
# -----------------

rollup.config.js

# Directories
# -----------------

/tests
