# Files
# -----------------

.npmrc
.eslintrc
.editorconfig
.gitignore

# Travis
# -----------------

.travis.yml

# Configuration
# -----------------

rollup.config.js
babel.config.js

# Directories
# -----------------

/tests
